<div class="home">
    <div class="navbar"></div>
    <div class="container-home">
        <h2>Monitor the air where you bussines operates</h2>
        <p>Turn environmental management into a competitive advantage with smart satellite data</p>
    </div>
    <div class = "about">
        <h3>About us</h3>
        <p>AeroScan is a digital application designed to help Small and Medium Enterprises (SMEs) in the heavy industry sector overcome a key barrier to securing contracts.</p>
        <p>It allows SMEs to generate estimated emission reports based on their  location, providing a low-cost, initial validation of their  environmental impact.</p>
    </div>
    <div class = "info">
        <div class="col-6" >
            <h3>Accelerated Compliance</h3>
            <p> Facilitates the application process for environmental certifications such as ISO 14001, through auditable evidence and proactive NOM alerts. </p>
        </div>
        <div class="col-4" ></div>
    </div>
    <div class = "info">
        <div class="col-6" >
            <h3>Time Related Statistics</h3>
            <p> Obtain and store historical reports based on periods of interest, or check the current air quality status. </p>
        </div>
        <div class="col-4" ></div>
    </div>
</div>